*{
    margin: 0;
    padding: 0;
}

.cabecalho{
padding: 15px 25px;
display: flex;
justify-content: space-between;
align-items: center;
background-color: rgb(110, 30, 184);
}

.cartao{
    width: 260px;
    height: 200px;
}

.cartao-imagem  {
    width: 100%;
}

body{
display: flex;
flex-direction: column;
min-height: 100vh;
background-color: rgb(218, 176, 238);
}

main{
    flex: 1;
}
.cabecalho-link {
color: rgb(21, 67, 165);
text-decoration: none;
}
h1 {
    color: aqua;
}

footer{
    background-color:rgb(110, 30, 184);
    padding: 15px 25px;
    color: aliceblue;
}